@font-face {
  font-family: "Mr Pixel";
  src: url(../ass/terminal-grotesque.ttf) format("truetype");
}

.Frame {
  width: 1020px;
  min-width: 1020px;
  height: 740px;
  padding: 32px;
  padding-top: 64px;

  font-family: "Mr Pixel", "Comic Sans MS";
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0.04em;
  line-height: 1.4em;
  color: #c9a058;

  overflow-y: scroll;

  outline-color: #c9a058;
  outline-width: 1px;
  outline-style: solid;

  scrollbar-width: none;

  user-select: none;

  display: flex;
  flex-direction: column;
}

.Frame::-webkit-scrollbar {
  display: none;
}
