.Prompt {
  width: 100%;
  padding-top: 4px;
  padding-bottom: 8px;

  overflow: hidden;

  border-color: #c9a058;
  border-bottom-width: 1px;
  border-style: solid;

  margin-top: auto;

  transition: background-color 0.2s ease;

  display: flex;
}

.Prompt.hovering {
  background: #c9a05811;

  transition: background-color 0.2s ease;
}

.Prompt .Symbol {
  font-size: 48px;
  margin-right: 16px;
  vertical-align: top;
}

.Prompt .Keyword {
  margin-right: 8px;
}

.Prompt .OK {
  display: inline-block;
  padding: 0 8px;
  margin-left: auto;
  margin-right: 1px;

  background: black;

  outline-color: #c9a058;
  outline-width: 1px;
  outline-style: solid;

  opacity: 0.4;

  transition: background-color 0.2s ease, opacity 0.2s ease;
}

.Prompt .OK.activated {
  cursor: pointer;
  opacity: 1.0;
}

.Prompt .OK.activated:hover {
  background: #c9a05822;
}

.Prompt .OK.activated:active, .Prompt .OK.activated:active {
  background: #c9a05844;
}

@media only screen and (max-width: 1400px), only screen and (max-height: 900px) {
  .Prompt {
    border-bottom-width: 2px !important;
  }
}
