.Keyword {
  cursor: move;
  display: inline-block;

  transition: transform 0.2s ease;

  filter: drop-shadow(0px 8px 4px #593008);
}

.Keyword:hover {
  transform: translate(0, -1px) scale(1.1);

  transition: transform 0.2s ease;
}

.Keyword.consumed {
  color: #c9a05899;
  cursor: inherit;
}
