.App {
  width: 100vw;
  height: 100vh;

  background: #030316;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Navigation {
  margin-top: -48px;
  margin-bottom: 12px;
  font-size: 24px;

  display: flex;
}

.Navigation .Before {
  opacity: 0.0;
  transition: opacity 0.2s ease;
}

.Navigation .Before.activated {
  cursor: pointer;
  opacity: 0.8;
}

.Navigation .Before.activated:hover {
  opacity: 1.0;
}

.Navigation .HelpButton {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s ease;

  margin-left: auto;
}

.Navigation .HelpButton:hover {
  opacity: 1.0;
}

.Help {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -65%);
  width: 660px;
  height: 500px;

  background: black;

  font-size: 2rem;

  margin: 32px;
  margin-top: 64px;
  padding: 32px;

  outline-color: #c9a058;
  outline-width: 2px;
  outline-style: dotted;

  box-sizing: border-box;
  box-shadow: 0 0 8px #030316;

  display: flex;
  flex-direction: column;
}

.Help p {
  margin-bottom: 16px;
}

.Help em {
  letter-spacing: 0.2em;
}

.Help .CloseHelp {
  display: block;

  margin-top: auto;
  justify-self: flex-end;
  align-self: flex-end;

  padding: 8px;
  outline-color: #c9a058;
  outline-width: 1px;
  outline-style: solid;

  cursor: pointer;
}

.Help .CloseHelp:hover {
  background: #c9a05833;
}

.Help .CloseHelp:active, .Help .CloseHelp:active {
  background: #c9a05866;
}

/* reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
